#detailsRow {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.details {
  padding-top: 127px;
  padding-bottom: 90px;

  h1 {
    margin-top: 40px;
    font-size: 40px;
    font-weight: 700;
    font-family: "Roboto";
    margin-bottom: 30px;
  }
  p {
    font-family: "Roboto";
    font-size: 20px;
    margin-bottom: 30px;
  }
}
.card__fundamentals {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

}
.author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    margin-top: 10px;
    width: 500px;
    
    height: 67px;
    background: #eaebec;
    .author__img {
      img {
        border-radius: 50%;
      }
    }
    .author__name  {
      p{

          font-size: 20px;
          font-weight: 500;
          color: #1a1a1a;
          padding-left: 20px;
          margin-top: 30px;
          font-family: "Roboto";
          span{
              color: #a5a5a5;
          }
      }
    }
    .author__price{
      width: 67px;
      height: 67px;
      background: #ffb606;
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      span{
          color: #FFFFFF;
          font-size: 18px;
          font-family: "Roboto";  
          font-weight: 700;
          
      }
    }
  }
#button{
    font-family: "Roboto";
}