.carouselNext {
  padding: 25px 15px;
  background: #fff;
  color: black;
  font-family: "Roboto";
}
.carouselPrev {
  padding: 25px 15px;
  background: #fff;
  color: black;
  font-family: "Roboto";
}
.carousel {
  position: relative;
}
.carousel__title {
  position: absolute;
  top: 45%;
  left: 25%;
  h1 {
    font-size: 40px;
    color: red;
    font-size: 72px;
    font-weight: 400;
    color: #ffffff;
    span{
        background: #ffb606;
        padding-left: 13px;
        padding-right: 13px;
        margin-left: -12px;
        margin-right: -12px;
    }
  }
}
